<ul class="dropdown-menu" aria-labelledby="laptopsDropdown">
    <li><a class="dropdown-item" href="@Url.Action("EverydayUse", "Products")">Everyday Use Notebooks</a></li>
    <li><a class="dropdown-item" href="@Url.Action("Gaming", "Products")">Gaming Notebooks</a></li>
    <li><a class="dropdown-item" href="@Url.Action("Tablets", "Products")">Tablets and Pads</a></li>
    <li><a class="dropdown-item" href="@Url.Action("Netbooks", "Products")">Netbooks</a></li>
    <li><a class="dropdown-item" href="@Url.Action("InfinityGaming", "Products")">Infinity Gaming Notebooks</a></li>
</ul>
