<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-light"></nav>
<!-- Logo -->
<a href="@Url.Action("Index", "Home")" class="navbar-brand">
    <img src="~/Images/Logo.png" alt="Account" />
</a>

<!-- Toggle button for small screens -->
<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    title="Toggle navigation" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<!-- Navbar content -->
<div class="collapse navbar-collapse d-sm-inline-flex justify-content-between w-100" id="mainNavbar">
    <!-- Category menu -->
    <ul class="navbar-nav text-start" id="category-menu">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Laptops
            </a>
            <partial name="_LaptopsMenu" />
        </li>
        <li class="fw-bold">
            @Html.ActionLink("Desktop PCs", "DesktopPCs", "Products", null, new { @class = "nav-link" })
        </li>
        <li class="fw-bold">
            @Html.ActionLink("Networking Devices", "NetworkingDevices", "Products", null, new { @class = "nav-link" })
        </li>
        <li class="fw-bold">
            @Html.ActionLink("Printers & Scanners", "PrintersScanners", "Products", null, new { @class = "nav-link" })
        </li>
        <li class="fw-bold">
            @Html.ActionLink("PC Parts", "PCParts", "Products", null, new { @class = "nav-link" })
        </li>
        <li class="fw-bold">
            @Html.ActionLink("All Other Products", "AllProducts", "Products", null, new { @class = "nav-link" })
        </li>
        <li class="fw-bold">
            @Html.ActionLink("Repairs", "Repairs", "Services", null, new { @class = "nav-link" })
        </li>
        <li class="fw-bold">
            @Html.ActionLink("Our Deals", "Deals", "Home", null, new { @class = "btn btn-outline-primary rounded-4" })
        </li>
    </ul>
    <!-- Search & Cart -->
    <div class="d-flex align-items-center gap-3" style="margin-left: 160px;">
        <!-- Avatar -->
        <partial name="_LoginPartial" />
    </div>
</div>
</nav>