<ul class="nav flex-nowrap fw-bold overflow-auto px-2 py-1">
    <li class="nav-item">
        @Html.ActionLink("Laptops", "Laptops", "Products", null, new { @class = "nav-link text-black" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Desktop PCs", "DesktopPCs", "Products", null, new { @class = "nav-link text-black" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Networking Devices", "NetworkingDevices", "Products", null, new { @class = "nav-link text-black" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Printers & Scanners", "PrintersScanners", "Products", null, new { @class = "nav-link text-black" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("PC Parts", "PCParts", "Products", null, new { @class = "nav-link text-black" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("All Other Products", "AllProducts", "Products", null, new { @class = "nav-link text-black" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Repairs", "Repairs", "Services", null, new { @class = "nav-link text-black" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Our Deals", "Deals", "Home", null, new { @class = "btn btn-outline-primary rounded-4 px-3" })
    </li>
</ul>
