<ul class="nav flex-nowrap fw-bold overflow-auto px-2 py-1">
    <li class="nav-item">
    @Html.ActionLink("Laptops", "Category", "Products", new { id = 1 }, new { @class = "nav-link text-black" })
</li>
<li class="nav-item">
    @Html.ActionLink("Desktop PCs", "Category", "Products", new { id = 2 }, new { @class = "nav-link text-black" })
</li>
<li class="nav-item">
    @Html.ActionLink("Networking Devices", "Category", "Products", new { id = 3 }, new { @class = "nav-link text-black" })
</li>
<li class="nav-item">
    @Html.ActionLink("Printers & Scanners", "Category", "Products", new { id = 4 }, new { @class = "nav-link text-black" })
</li>
<li class="nav-item">
    @Html.ActionLink("PC Parts", "Category", "Products", new { id = 5 }, new { @class = "nav-link text-black" })
</li>
<li class="nav-item">
    @Html.ActionLink("All Other Products", "Category", "Products", new { id = 6 }, new { @class = "nav-link text-black" })
</li>
<li class="nav-item">
    @Html.ActionLink("Repairs", "Repairs", "Services", null, new { @class = "nav-link text-black" })
</li>
<li class="nav-item">
    @Html.ActionLink("Our Deals", "Deals", "Home", null, new { @class = "btn btn-outline-primary rounded-4 px-3" })
</li>

</ul>
